{% extends "base.html" %} {% block content %}

<h2 class="mb-4">🍴 Restaurants</h2>

<div class="row">
  {% for h in hotels %}
  <div class="col-md-4 col-sm-6 mb-4">
    <div class="card">
      <img
        src="{{ url_for('static', filename='images/' + h.image) }}"
        height="200"
      />

      <div class="card-body">
        <h5>{{ h.name }}</h5>

        <p class="rating">⭐ 4.2 • Free Delivery</p>

        <a href="/hotel/{{ h.id }}" class="btn btn-custom w-100 mt-2">
          View Menu
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
