{% extends "base.html" %} {% block content %}
<h3>Signup</h3>

<form method="POST">
  <input name="name" class="form-control mb-2" placeholder="Name" required />
  <input name="email" class="form-control mb-2" placeholder="Email" required />
  <input
    name="password"
    type="password"
    class="form-control mb-2"
    placeholder="Password"
    required
  />

  <input
    name="mobile"
    class="form-control mb-2"
    placeholder="Mobile Number"
    required
  />
  <textarea
    name="address"
    class="form-control mb-2"
    placeholder="Address"
    required
  ></textarea>

  <button class="btn btn-success w-100">Signup</button>
</form>

{% endblock %}
